#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2
#define FUN     3
#define UD      4
#define BT      5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tdflsh: tap_dance_flsh {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_flsh";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt FUN FSLH>, <&kp RSHFT>;
        };

        tdlctrl: tap_dance_lctrl {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LCTRL";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp LSHFT>;
        };

        tdlalt: tap_dance_lalt {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LALT";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LALT>, <&kp LGUI>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };
        
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BSPC>;
        };
        combo_del {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp DEL>;
        };
        combo_ret {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp RET>;
        };

        combo_cut {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LC(X)>;
        };
        combo_copy {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LC(C)>;
        };
        combo_paste {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LC(V)>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T  &kp Y  &kp U       &kp I       &kp O      &kp P
    &kp A      &hm LSHFT S &hm LALT D &hm LCTRL F &kp G  &kp H  &hm RCTRL J &hm LALT K &hm RSHFT L &hm RGUI SEMI
    &kp Z                 &kp X       &kp C       &kp V  &kp B  &kp N       &kp M       &kp COMMA  &kp DOT
    &tdlctrl &tdlalt    &lt NUM_SYM SPACE       &kp LGUI      &lt NAV RET   &lt UD RALT  &tdflsh
            >;

            sensor-bindings = <&inc_dec_kp DEL BSPC>;
        };

        num_sym {
            bindings = <
    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5 &kp N6 &kp N7     &kp N8      &kp N9    &kp N0
    &kp DQT    &hm LSHFT SQT &hm LALT LPAR  &hm LCTRL RPAR &kp GRAVE &kp MINUS &hm RCTRL LBRC &hm LALT RBRC &hm RSHFT EQUAL &trans
    &BLSH      &none      &kp LBKT      &kp RBKT  &none  &kp PLUS    &kp MINUS       &trans     &trans
    &trans &trans    &trans                &trans        &kp RET     &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp DEL BSPC>;
        };

        nav {
            bindings = <
    &kp ESC &kp TAB &kp LS(TAB) &kp K_APP      &none &none &kp LC(LEFT)  &kp UP  &kp LC(RIGHT)     &bt BT_CLR
    &kp LGUI  &kp LSHFT    &kp LALT     &kp LCTRL      &none &none &kp LEFT    &kp DOWN     &kp RIGHT &none
    &mo BT     &none      &none       &none &none &kp HOME       &kp END        &kp PG_UP     &kp PG_DN
    &trans    &trans     &trans                 &trans      &kp RET      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };

        fun {
            bindings = <
    &trans &trans &trans &trans      &none &kp F1 &kp F2  &kp F3  &kp F4    &kp F5
    &trans  &trans    &trans     &trans      &none &kp F6 &kp F7    &kp F8     &kp F9 &kp F10
    &trans            &trans     &trans      &trans &none &kp F11   &kp F12    &kp PSCRN   &kp PAUSE_BREAK
    &trans  &trans    &trans                 &trans      &kp RET      &trans    &none
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

        ud {
            bindings = <
    &trans &trans &trans &trans &trans &trans &trans       &trans       &trans     &trans
    &trans     &trans     &trans     &trans      &trans &trans &trans    &trans     &trans &trans
    &trans                 &trans      &trans       &trans &trans &trans       &trans        &trans     &trans
    &trans &trans      &trans                 &trans      &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        bt {
            bindings = <
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none       &none       &none     &bt BT_CLR
    &out OUT_USB     &out OUT_BLE     &none     &none      &none &none &none    &none     &none &none
    &none                 &none      &none       &none &none &none       &none        &none     &none
    &bootloader &reset      &none                 &none      &none      &trans    &none
            >;
        };

    };
};